.JokesList {
  display: flex;
  width: 80%;
  height: 80%;
}

.JokesList-sidebar {
  z-index: 2;
  background: #9575cd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  text-align: center;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.3),
    inset 0 0 25px #7e57c2;
}

.JokesList-title {
  font-size: 4em;
  margin: 2rem;
  color: white;
  letter-spacing: 0.4rem;
  font-weight: 700;
}

.JokesList-sidebar .cat-laugh-emo {
  width: 50%;
  border-radius: 50%;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
}

@keyframes spaceboots {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
  }
}
.cat-laugh-emo:hover {
  animation-name: spaceboots;
  animation-duration: 0.8s;
  transform-origin: 50% 50%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
/* .JokesList-new-jokes {
  button
} */

.JokesList-jokes {
  /* z-index: 1; */
  /* color: black; */
  height: 90%;
  background: white;
  align-self: center;
  overflow: scroll;
  width: 70%;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.1) /* inset 0 0 25px #7e57c2 */;
}

.loadingIcon {
  margin: auto;
  /* background: rgb(255, 255, 255); */
  display: block;
  --darkreader-inline-bgimage: initial;
  --darkreader-inline-bgcolor: #181a1b;
  shape-rendering: auto;
}

.loadingIcon .cirlce1 {
  --darkreader-inline-fill: #ba0a47;
}
.loadingIcon .cirlce2 {
  --darkreader-inline-fill: #0d909e;
}
.loadingIcon .cirlce3 {
  --darkreader-inline-fill: #ba0a47;
}

.JokesList-new-jokes {
  font-size: 1.5rem;
  width: 50%;
  border-radius: 2rem;
  padding: 1rem 2rem;
  color: rgb(255, 255, 255);
  /* font: inherit; */
  /* font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", */
  /* "Lucida Sans Unicode", Geneva, Verdana, sans-serif; */
  font-weight: 700;
  outline: none;
  border: none;
  margin: 2rem;
  cursor: pointer;
  transition: 0.6s cubic-bezier(0.2, 1, 0.2, 1);
  word-spacing: 10px;
  background: linear-gradient(
    135deg,
    rgba(240, 98, 146, 1) 0%,
    rgba(240, 98, 146, 1) 50%,
    rgba(179, 229, 252, 1) 50%,
    rgba(179, 229, 252, 1) 100%
  );
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.1) /* inset 0 0 25px #7e57c2 */;
}

.JokesList-new-jokes:hover {
  transform: translateY(-2px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25);
}

@media (max-width: 799px) {
  .JokesList {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 89%;
  }

  .JokesList-sidebar {
    flex-direction: row;
    background: none;
    box-shadow: none;
    width: 80%;
    padding: 0 1rem;
  }

  .cat-laugh-emo {
    width: 50%;
  }

  .JokesList-jokes {
    width: 100%;
    height: 100%;
  }

  .JokesList-title {
    font-size: 3em;
    letter-spacing: 0.2rem;
  }

  .JokesList-new-jokes {
    font-size: 1.5rem;
    width: 50%;
    padding: 0.5rem 1rem;
    color: rgb(255, 255, 255);
    /* font: inherit; */
    /* font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", */
    /* "Lucida Sans Unicode", Geneva, Verdana, sans-serif; */
    font-weight: 500;
    word-spacing: 10px;
  }
}
