.Joke {
  display: flex;
  justify-content: space-around;
  margin: 1.5em 0;
  border-bottom: 2px solid #eeeeee;
  align-items: center;
  padding: 1rem;
  font-weight: 500;
}

.Joke-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  margin-right: 1rem;
}

.Joke-buttons svg {
  width: 20px;
  cursor: pointer;
}

/* .Joke-buttons svg path:hover {
  color: grey;
} */

.Joke-votes {
  width: 50px;
  height: 50px;
  line-height: 50px;
  /* border-radius: 50%; */
  text-align: center;
  font-size: 22px;
  font-weight: 700;
}

.Joke-text {
  width: 75%;
  font-size: 1.2rem;
}

.Joke-emo {
  font-size: 3rem;
  margin-left: auto;
  border-radius: 50%;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
}

.Joke-emo:hover {
  animation: spin-emo 1.5s ease-in-out 0s;
}

@keyframes spin-emo {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(30deg);
  }
  40% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(20deg);
  }
  80% {
    transform: rotate(0deg);
  }
  1000% {
    transform: rotate(30deg);
  }
}

.vote-up-arrow,
.vote-down-arrow {
  transition: all 0.3s;
}

.vote-up-arrow:hover {
  animation-name: move-up;
  animation-timing-function: ease-out;
  animation-duration: 0.7s;
}

@keyframes move-up {
  0%,
  50%,
  100% {
    transform: translateY(2px);
  }
  25%,
  75%,
  95% {
    transform: translateY(-3px);
  }
}

.vote-down-arrow:hover {
  animation-name: move-down;
  animation-timing-function: ease-out;
  animation-duration: 0.7s;
}

@keyframes move-down {
  0%,
  50%,
  100% {
    transform: translateY(-3px);
  }
  25%,
  75%,
  95% {
    transform: translateY(3px);
  }
}

@media (max-width: 799px) {
  .Joke-buttons {
    width: 20%;
  }

  .Joke-buttons svg {
    width: 35px;
  }

  .Joke-emo {
    font-size: 1.5rem;
  }

  .Joke-votes {
    font-size: 18px;
  }

  .Joke-text {
    width: 70%;
    font-size: 1rem;
  }
}
